<div id="index-wrap">
    <div class="content">
        <div class="blue-block full">
            <h2 class="uppercase">Contact</h2>
        </div>
        <div class="contact-form">
            <h3>We would love you all to share our big day.</h3>
            <h3>If you need further information or want to talk to us, please contact us using this form</h3>

            <form action="/submit" method="get">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required></br>

                <label for="coming">Will you be coming?</label>
                <input type="text" name="coming" id="coming" required></br>

                <label for="comments">Comments</label>
                <textarea name="comments" id="comments"></textarea></br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>