<div id="index-wrap">
    <div class="content">
        <div class="blue-block full">
            <h2 class="uppercase">Gallery</h2>
        </div>
        <div id="index-gallery" style="margin: 0 auto; position: relative; width: 700px; height: 525px;">">
            <div u="slides" class="gallery" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 700px; height: 525px;">
                <div><img u="image" src="/assets/img/slide/1.jpg" /></div>
                <div><img u="image" src="/assets/img/slide/2.jpg" /></div>
                <div><img u="image" src="/assets/img/slide/3.jpg" /></div>
                <div><img u="image" src="/assets/img/slide/4.jpg" /></div>
                <div><img u="image" src="/assets/img/slide/5.jpg" /></div>
            </div>
        </div>
    </div>
</div>