<div class="container">
    <div class="title">
        <h1 class="right nospace block">ham-made</h1>
        <h2 class="right nospace block">the personal website of laurence hammond</h2>
    </div>
</div>