<img src="assets/img/1.jpg" class="img">

<div class="content left">


    <h1>welcome</h1>
    <p>You have reached my personal website.</p>
    <!--
    <div class="center">
    </div>
    !-->
<!--
    <div class="third left">
        <ul class="nostyle">
            <li>iOS and Android App development</li>
            <li>Web page design</li>
            <li>PHP</li>
            <li>Java</li>
        </ul>
    </div>

    <div class="third left">
        <p>I also have an interest in photography, aviation, travelling and playing football.</p>
        <p>My twitter handle is @hammundoo - I need all the followers I can get</p>
    </div>

    <div class="third left">
        <p>My github account is hammol04 which has all my latest projects (including this website)</p>
        <p>thanks</p>
    </div>

    !-->
</div>

<div class="clear"></div>