<div class="content fixed-left left">
    <h2 class="uppercase">Wedding Date</h2>
    <h3>9th August 2015</h3>
    <h3>Arrival at 14:30</h3>
    <h3>The Chequers Inn, Woolsthorpe by Belvoir</h3>
</div>

<div id="index-wrap" class="content fixed-right right">
    <div id="index-gallery">
        <div u="slides" class="gallery">
            <div><img u="image" src="/assets/img/slide/1.jpg" /></div>
            <div><img u="image" src="/assets/img/slide/2.jpg" /></div>
            <div><img u="image" src="/assets/img/slide/3.jpg" /></div>
            <div><img u="image" src="/assets/img/slide/4.jpg" /></div>
            <div><img u="image" src="/assets/img/slide/5.jpg" /></div>
        </div>
    </div>
</div>
<div class="clear"></div>