<div class="content fixed-left left">
    <h2>Wedding Date</h2>
    <h3>9th August 2015</h3>
    <h3>Arrival at 14:00</h3>
</div>

<div class="content fixed-right right">
    <div class="gallery"></div>
</div>
<div class="clear"></div>