<div class="content fixed-left left">
    <h2 class="uppercase">Wedding Date</h2>
    <h3>9th August 2015</h3>
    <h3>Arrival at 14:00</h3>
    <h3>Branston Hall, Lincolnshire</h3>
</div>

<div id="index-gallery" class="content fixed-right right">
    <div u="slides" class="gallery">
        <div><img u="image" src="http://www.hdwallpapersimages.com/wp-content/uploads/2014/01/Winter-Tiger-Wild-Cat-Images.jpg" /></div>
        <div><img u="image" src="http://i.dailymail.co.uk/i/pix/2015/01/06/2473100D00000578-2898639-Photographer_Andrey_Gudkov_snapped_the_images_on_the_plains_of_t-a-20_1420546215677.jpg" /></div>
    </div>
</div>
<div class="clear"></div>