<div class="nav">
    <div class="duck_stripe">
        <ul class="sub-nav uppercase">
            <li><a href="../">Home</a></li>
            <li><a href="hotels">Hotels</a></li>
            <li><a href="taxis">Taxis</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </div>
</div>
<span class="dotted-line"></span>
<div class="center"><img class="logo-img" src="assets/img/logo.png" alt="The Wedding of Lisa and Joseph"/> </div>