<div class="nav">
    <div class="duck_stripe">
        <ul class="sub-nav uppercase">
            <li>Hotels</li>
            <li>Taxis</li>
            <li>Gallery</li>
            <li>Info</li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<span class="dotted-line"></span>
<div class="center"><img src="assets/img/logo.png" alt="The Wedding of Lisa and Joseph" width="350px"/> </div>