<div class="nav">
    <div class="container">
        <div class="center">
            <img class="logo" src="/assets/img/logo.png" alt="Joe & Lisa's Wedding"/>
        </div>
        <div class="logo-nav">
            <ul class="sub-nav uppercase">
                <li>Hotels</li>
                <li>Taxis</li>
                <li>Gallery</li>
                <li>Info</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>