<div class="nav">
    <div class="container">
        <ul class="nospace nostyle right">
            <li><a href="/">home</a></li>
            <li><a href="https://github.com/hammol04" target="_blank">github</a></li>
        </ul>
    </div>
</div>