<div class="container content">
    <h1>stuff</h1>
    <p>Here I will post posts that I write, the projects i'm currently working on, things that interest me and photographs I have taken.</p>
    <p>to be updated ...</p>
</div>