@media screen and (min-width: 800px) {
  .head {
    background: #000000;
    height: 300px;
    line-height: 80px;
    vertical-align: middle;

    .title {
      padding-top: 60px;
      padding-right: 10px;

      h1 {
        color: #FFFFFF;
        font-family: "Roboto Slab";
        font-size: 70px;
      }

      h2 {
        color: #c2ccd1;
        font-family: "Roboto-Regular";
        font-size: 30px;
      }
    }
  }

  .container {
    max-width: 1008px;
    margin: 0 auto;
  }

  .content {
    width: 25%;
    font-size: 20px;

    h1 {
      font-size: 45px;
    }
  }

  .third {
    width: 31%;
    padding: 10px;
  }
}