//IMPORTS

@font-face {
  font-family: SignPainter;
  src: url('../fonts/SignPainter-HouseScript.ttf');
}

// HELPERS

body, html {
  background: #ffffff;
  font-family: "SignPainter", SignPainter-HouseScript, serif;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
  margin-top: 0;
}

.clear {
  clear: both;
}

.nospace {
  margin: 0;
  padding: 0;
}

.nostyle {
  list-style-type: none;
}

.block {
  display: block;
}

// LAYOUT

@import "mobile";
@import "desktop";

.main {
  width: 100%;
}

.logo {
  padding: 10px;
  width: 300px;
}

.img {
  min-width: 75%;
  min-height:100%;
  float: right;
}

.nav {
  background: #A3C7C7;

  a {
    color: #ffffff;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.dotted-line {
  display: block;
  background: url('../img/duckegg.gif') repeat;
  height: 10px;
}

.sub-nav {
  font-weight: bold;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  color: #ffffff;
  text-align: center;

  li {
    display: inline-block;
    border-right: 1px dotted #BCE6E6;
    width: 80px;
    text-align: center;
  }

  li:last-child {
    border-right: 0;
  }
}