@media screen and (max-width: 799px) {
  .logo-img {
    width: 200px;
  }

  .blue-block {
    background: #5e8ab4;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    * {
      font-family: Helvetica, sans-serif;
      color: #ffffff;
    }
  }

  .content {
    overflow: hidden;
    border-top: 2px solid #5e8ab4;
  }

  .map {
    margin: 0 auto;
    float: none;
  }

  .floral, .index-page .gallery {
    display: none;
  }

  .contact-form {
    padding: 15px;
  }

  .contact-form label {
    display: inline-block;
    width: 150px;
    padding: 12px;
  }

  .contact-form textarea, .contact-form input[type='text'] {
    width: 200px;
  }

  .contact-form textarea {
    height: 80px;
  }

  .contact-form input[type='submit'] {
    margin-left: 10px;
    font-size: 30px;
  }
}